@charset "UTF-8";
/*
FOR TABLET
 */
@media only screen and (min-width:765px) and (max-width:1024px) {
	.container-wrap {
    width:100vw;
    min-height:100vh;
	}
/*
ENTER PAGE
 ----------------------------------------------------------------------------------------*/
	.enter-hero {
	    -webkit-background-size:cover;
	    background-size:cover;
	}

	/*
	TOP PAGE
	 ----------------------------------------------------------------------------------------*/


/*
PROFILE PAGE
 ----------------------------------------------------------------------------------------*/
 .heroTxtBox {
	 position:absolute;
	 display:block;
	 width:350px;
	 height:auto;
	 left:60px;
	 bottom:50px;
   margin-top:0;
 }
 .scndBox {
   margin-bottom:100px;
 }
 .ryakureki-wrap {
	 display:-webkit-flex;
	 display:flex;
	 justify-content:space-between;
	 flex-direction:row;
 }
 .rightBox {
	 display:block;
	 width:48%;
	 margin-top:10px;
	 margin-left:15px;
 }
/*
PHOTO PAGE
 ----------------------------------------------------------------------------------------*/
 .heroTxtBox.photos-sect {
	 position:absolute;
	 width:230px;
	 height:100%;
   top:0;
   left:0;
	 padding-top:56px;
	 padding-left:50px;
	 background-color:rgba(245,180,83,.5);
 }
 .heroTxtBox.photos-sect > h2 {
	 margin-bottom:53px!important;
 }
 .heroTxtBox.photos-sect > div.photos-list > ul li {
	 margin-bottom:25px!important;
 }
 .heroTxtBox.photos-sect > div.photos-list > ul li:last-child {
 	 margin-bottom:0!important;
  }
/*
PHOTO-DETAIL PAGE
 ----------------------------------------------------------------------------------------*/
 .heroTxtBox.photos-sect-detail {
	 background-color:rgba(245,180,83,1);
 }
/*
TOPIC PAGE
 ----------------------------------------------------------------------------------------*/
/*
WORKS PAGE
 ----------------------------------------------------------------------------------------*/
 .heroTxtBox.works-sect {
	padding-top:195px;
 }
 .scndBox.works-sect h2 {
	margin-bottom:24px;
 }
 .scndBox.works-sect p,
 .scndBox.works-sect ul li {
	text-indent:1em;
 }
 .scndBox.works-sect ul li {
	margin-bottom:1em;
 }
}
