@charset "UTF-8";
/*
FOR PC
 */
@media only screen and (min-width:1025px) {
	body.enter .container-wrap {
    width:100vw;
    min-height:100vh;
}
/*
ENTER PAGE
 ----------------------------------------------------------------------------------------*/
.enter-hero {
    -webkit-background-size:cover;
    background-size:cover;
}

/*
TOP PAGE
 ----------------------------------------------------------------------------------------*/
#header {
	display:-webkit-flex;
	display:flex;
	flex-flow: row;
	align-items: baseline;
	width:960px;
	height:44px;
	margin:100px auto 70px;
}
#header >h1, #header > p {
	display:block;
	width:auto;
	height:24px;
	vertical-align:baseline;
	line-height:1;
}
#header > h1 {
	margin:0 20px 0 5px;
}
#header > p {
	margin:0;
}
.container-wrap-wrap {
	display:-webkit-flex;
	display:flex;
	max-width:960px;
}
#navigation {
	/*display:none;*/
	width:30.2%;
	max-width:290px;
	padding:0;
	font-size:14px;
	margin:0 10px 0 5px;
	border-bottom: none;
}
#navigation #nav-open {
	display:none;
}
#nav-content {
	position:inherit;
	padding:0;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}
#container {
	width:67.7%;
	max-width:650px;
	margin:0 5px 0 0;
}
#footer {
	width:100%;
	margin-bottom:20px;
	border:none;
}
.top-contents {
	flex-direction:row;
}
.tcBox {
	width:290px;
}
.news {
	margin-top:0;
}
/*
PROFILE PAGE
 ----------------------------------------------------------------------------------------*/
/*
PHOTO PAGE
 ----------------------------------------------------------------------------------------*/
/*
PHOTO-DETAIL PAGE
 ----------------------------------------------------------------------------------------*/
/*
TOPIC PAGE
 ----------------------------------------------------------------------------------------*/
/*
WORKS PAGE
 ----------------------------------------------------------------------------------------*/
}
