@charset "UTF-8";
/*
FOR TABLET
 */
@media only screen and (min-width:765px) and (max-width:1024px) {
	.container-wrap {
    width:100vw;
    min-height:100vh;
	}
/*
ENTER PAGE
 ----------------------------------------------------------------------------------------*/
	.enter-hero {
	    -webkit-background-size:cover;
	    background-size:cover;
	}

	/*
	TOP PAGE
	 ----------------------------------------------------------------------------------------*/


/*
PROFILE PAGE
 ----------------------------------------------------------------------------------------*/
/*
PHOTO PAGE
 ----------------------------------------------------------------------------------------*/
/*
PHOTO-DETAIL PAGE
 ----------------------------------------------------------------------------------------*/
/*
TOPIC PAGE
 ----------------------------------------------------------------------------------------*/
/*
WORKS PAGE
 ----------------------------------------------------------------------------------------*/
}
